<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727261719857-gai7rm44hn3dtrri8vrs0m9mcetato17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727261719857-gai7rm44hn3dtrri8vrs0m9mcetato17</string>
	<key>API_KEY</key>
	<string>AIzaSyAPbtwbcBVxZHw7tXmG05nGDk3EE7d15A0</string>
	<key>GCM_SENDER_ID</key>
	<string>727261719857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.antiLineCuttersFrontend</string>
	<key>PROJECT_ID</key>
	<string>anti-line-cutters-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>anti-line-cutters-backend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727261719857:ios:294d56e636bd27c37e1410</string>
</dict>
</plist>